@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Cinzel", serif;
  max-width: 100%;
}

.tooltip,
.tooltip-skills {
  max-width: 40%;
  width: 180px;
  padding: 10px 5px 10px 5px;
  font-size: 13px;
  text-align: center;
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
}

div[disabled] {
  pointer-events: none;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.staging-bg {
  background-image: url(./assets/images/staging-bg.jpg);
  background-size: 100% 100%;
  height: 100%;
}

.arena-bg {
  background-image: url(./assets/images/arena-bg.png);
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.forfeit {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px; 
  height: 60px;
  background-image: url(./assets/images/missio.png);
  background-size: 100% 100%;
  opacity: 0.85;
  z-index: 9;
}

.rules {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px; 
  height: 60px;
  background-image: url(./assets/images/rules.png);
  background-size: 100% 100%;
  opacity: 0.85;
  z-index: 9;
}

.rules:hover {
  opacity: 1
}

.forfeit:hover {
  opacity: 1;
}

.glowy-forfeit {
  width: 65px;
  height: 65px;
  filter: drop-shadow(0px 0px 7px rgb(255, 229, 81));
}

.forfeit[disabled] {
  display: none;
}

.chat-bubble {
  position: absolute;
  width: 100px;
  height: auto;
  left: 41%;
  top: 20%;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bolder;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7px;
  animation: fadeout 2.5s ease-out;
}

.chat-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -9.5px;
  margin-bottom: -19px;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.center-content {
  margin: 0;
  position: absolute;
  /* top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.justify-center {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.center-hpnumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-direction: column;
}

.center-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-column {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* BUTTONS */
.navlink-bg {
  text-decoration: none;
}
.button-bg {
  background-image: url("./assets/images/Button1.png");
  background-size: 100% 100%;
  background-color: transparent;
  outline: none;
  width: 300px;
  height: 87px;
  max-width: 100%;
  border: none;
  color: rgb(187, 124, 8);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  z-index: 10;
}

a.button-bg {
  z-index: 10;
}

.btn-tutorial {
  width: 200px;
  height: 58px;
  max-width: 100%;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.btn-forfeit {
  width: 200px;
  height: 58px;
  max-width: 100%;
  font-size: 1.5em;
}

.button-bg:active {
  background-image: url("./assets/images/Button2.png");
  font-size: 1.95em;
}

.btn-tutorial:active {
  font-size: 1.45em;
}

h1,
h2 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
  color: wheat;
}

h1 {
  font-size: 40px;
}



h2 {
  font-size: 1.35em;
}

.battle-title {
  font-size: 1.6em;
}

.stats-text {
  width: 75px;
  max-width: 100%;
  font-size: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

table,
tr {
  max-width: 95%;
}

.text-right {
  text-align: right;
  display: inline-block;
}

h3,
h4 {
  color: wheat;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

h5 {
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)); */
  color: rgb(77, 0, 0);
}

h4 {
  font-size: 14px;
}

p {
  font-size: 14px;
  color: wheat;
}

.cr {
  color: black;
}

ul,
li {
  list-style: none;
}

ul.header li {
  display: inline;
  list-style: none;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  /* padding: 20px; */
  display: inline-block;
}

.content {
  margin: 0 auto;
  background-color: rgb(85, 17, 17);
  width: 100%;
  height: 100%;
  position: absolute;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099ff;
}

.start-container {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(85, 17, 17);
}

.start {
  background-color: black;
  padding: 20px;
  display: inline-block;
  font-size: 40px;
  height: 50px;
  width: 200px;
  text-align: center;
}

.char-select0,
.char-select1,
.char-select2 {
  height: 400px;
  width: 240px;
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(80%);
}

.char-description {
  max-width: 100%;
  max-height: 20%;
  width: 600px;
  height: 100px;
  padding: 10px 5px 10px 5px;
  font-size: 13px;
  text-align: center;
}

.description {
  font-size: 13px;
  color: rgb(180, 169, 149);
  /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  filter: drop-shadow(0px 0px 8px rgb(0, 0, 0)); */
  /* -webkit-text-stroke: 1px black; */
}

.char-select-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.char-screen {
  height: 400px;
  width: 240px;
  max-height: 100%;
  max-width: 100%;
}

.one {
  float: left;
}

.char-select0:focus,
.char-select1:focus,
.char-select2:focus {
  filter: saturate(1.1) drop-shadow(0px 0px 8px rgb(255, 196, 2)) grayscale(0%);
  outline: transparent;
  z-index: 2;
}

.csc1,
.csc2 {
  bottom: 0px;
}

.csc1 {
  top: 10px;
}

.dimachaerus {
  background: transparent;
  background-image: url(./assets/images/dimachaerus.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.secutor {
  background: transparent;
  background-image: url(./assets/images/secutor.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.retiarius {
  background: transparent;
  background-image: url(./assets/images/retiarius.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.opponent1 {
  background-image: url(./assets/images/opponent1.png);
  background-size: cover;
  z-index: 1;
}

.opponent1leg {
  background-image: url(./assets/images/opponent1leg.png);
}

.opponent1head {
  background-image: url(./assets/images/opponent1head.png);
}

.opponent2 {
  background-image: url(./assets/images/opponent2.png);
  background-size: cover;
  z-index: 1;
}

.opponent2leg {
  background-image: url(./assets/images/opponent2leg.png);
}

.opponent2head {
  background-image: url(./assets/images/opponent2head.png);
}

.opponent3 {
  background-image: url(./assets/images/opponent3.png);
  background-size: cover;
  z-index: 1;
}

.opponent3head {
  background-image: url(./assets/images/opponent3head.png);
}

.opponent3leg {
  background-image: url(./assets/images/opponent3leg.png);
}

.opponent4 {
  background-image: url(./assets/images/opponent4.png);
  background-size: cover;
  z-index: 1;
}

.opponent4leg {
  background-image: url(./assets/images/opponent4leg.png);
}

.opponent4head {
  background-image: url(./assets/images/opponent4head.png);
}

.opponent5 {
  background-image: url(./assets/images/opponent5.png);
  background-size: cover;
  z-index: 1;
}

.opponent5leg {
  background-image: url(./assets/images/opponent5leg.png);
}

.opponent5head {
  background-image: url(./assets/images/opponent5head.png);
}

.opponent6 {
  background-image: url(./assets/images/opponent6.png);
  background-size: cover;
  z-index: 1;
}

.opponent6leg {
  background-image: url(./assets/images/opponent6leg.png);
}

.opponent6head {
  background-image: url(./assets/images/opponent6head.png);
}

.opponent7 {
  background-image: url(./assets/images/opponent7.png);
  background-size: cover;
  z-index: 1;
}

.opponent7leg {
  background-image: url(./assets/images/opponent7.png);
}

.opponent7head {
  background-image: url(./assets/images/opponent7.png);
}

.opponent8 {
  background-image: url(./assets/images/opponent8.png);
  background-size: cover;
  z-index: 1;
}

.opponent8leg {
  background-image: url(./assets/images/opponent8leg.png);
}

.opponent8head {
  background-image: url(./assets/images/opponent8head.png);
}

.opponent9 {
  background-image: url(./assets/images/opponent9.png);
  background-size: cover;
  z-index: 1;
}

.opponent9leg {
  background-image: url(./assets/images/opponent9leg.png);
}

.opponent9head {
  background-image: url(./assets/images/opponent9head.png);
}

.opponent10 {
  background-image: url(./assets/images/opponent10.png);
  background-size: cover;
  z-index: 1;
}

.opponent10head {
  background-image: url(./assets/images/opponent10head.png);
}

.opponent10leg {
  background-image: url(./assets/images/opponent10leg.png);
}

.opponent-container {
  margin-top: 25px;
  position: absolute;
  height: 400px;
  width: 200px;
  cursor: url(./assets/images/cursor-gladius.png), auto;
  z-index: 1;
}

.opponent {
  position: absolute;
  height: 400px;
  width: 200px;
  z-index: 1;
}

.poisoned {
  filter: hue-rotate(90deg);
  animation: poisonTick 1s ease-out;
}

@keyframes poisonTick {
  0% {
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.cnh_holding {
  animation: clickEffect 1.2s ease-out;
}

@keyframes clickEffect {
  0% {
  }
  /*  50% {margin: 0.05em;} */
  100% {
    filter: saturate(1.7) drop-shadow(0px 0px 8px rgb(184, 0, 0));
  }
}
/*STAGING*/

.quadrant-container {
  padding: 5px;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  position: relative;
}

.bottomleft h2 {
  font-size: 14px;
}

.quadrant-container-desktop {
  padding: 5px;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  position: relative;
}

.bg-topleft {
  background-image: url(./assets/images/windowbg3.png);
  background-size: 100% 100%;
}

.bg-topright {
  background-image: url(./assets/images/windowbg3.png);
  background-size: 100% 100%;
}

.bg-bottomleft {
  background-image: url(./assets/images/windowbg4.png);
  background-size: 100% 100%;
}

.bg-bottomright {
  background-image: url(./assets/images/windowbg4.png);
  background-size: 100% 100%;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  background: rgb(0, 0, 0);
}

.topright {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 50%;
  background: rgb(0, 0, 0);
}

.bottomleft {
  position: absolute;
  top: 50%;
  left: 0;
  right: 50%;
  bottom: 0;
  background: rgb(0, 0, 0);
}

.bottomright {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
}

.staging-select {
  height: 450px;
  width: 600px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-right {
  float: right;
}

.fl-left {
  float: left;
  margin: 15px;
}

.arena-select {
  height: 64px;
  width: 240px;
  margin: 0px 15px 0px 15px;
  background-color: transparent;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./assets/images/battlebg1.png);
  background-size: 100% 100%;
}

.arena-select:focus {
  filter: saturate(1.3) drop-shadow(0px 0px 5px rgba(255, 205, 40, 0.616));
  outline: transparent;
  background-image: url(./assets/images/battlebg.png);
}


.grayscale {
  filter: grayscale(100%);
  cursor: default;
}

.start-bg {
  background-image: url(./assets/images/splash.jpg);
  background-size: cover;
  height: 100%;
}

.logo {
  max-width: 100%;
  margin: 10px;
}

.hp-text, .oppname-text {
  font-size: 34px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  filter: drop-shadow(0px 0px 4px rgb(0, 0, 0));
}

.bottom-center {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.on-top {
  z-index: 8;
}

.top-center {
  top: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.stroke {
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  z-index: 0;
}

.player-hp {
  margin: 0 auto;
}

.lefta {
  float: left;
}

.righta {
  float: right;
  z-index: 2;
}

.centera {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  z-index: 0;
}

.level-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: auto;
  background-color: transparent;
  background-image: url(./assets/images/parchmentFrame.png);
  background-size: 100% 100%;
  padding-top: 10px;
  z-index: 11;
  position: absolute;
}

.level-up h2 {
  color: rgb(56, 0, 0);
  text-shadow: none;
  filter: drop-shadow(0px 0px 0px rgb(0, 0, 0));
  float: left;
}

.level-up div {
  float: left;
}

.lvlup-btn {
  margin-left: 5px;
  float: right;
  width: 26px;
  height: 26px;
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 4px;
  color: wheat;
  background-color: rgb(80, 0, 0);
  box-shadow: inset 0 0 3px #000000;
  outline: none;
}

.lvlup-btn:active {
  background-color: rgb(44, 0, 0);
  font-size: 14px;
}

.lvlup-btn[disabled] {
  filter: grayscale(100%);
}

.message-title {
  font-size: 28px;
  margin: 10px;
  color: rgb(102, 0, 0);
}

.message-text {
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
  margin: 5px 20px 10px 20px;
}

.warning-text {
  font-size: 32px;
  margin: 5px 20px 10px 20px;
  color: rgb(189, 0, 0);
}

.warning-text2 {
  font-size: 15px;
  margin: 5px 20px 10px 20px;
  color: rgb(189, 0, 0);
}

.intro-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  background-color: transparent;
  z-index: 12;
  position: absolute;
  background-image: url(./assets/images/parchmentYes.png);
  background-size: 100% 100%;
  padding: 10px;
}

.overlay-container,
.victory-container,
.defeat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.victory-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-container {
  background-color: rgba(0, 0, 0, 0.5);
}

.victory-container {
  animation: victory 2s ease-out;
}

@keyframes victory {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.victory-message {
  display: none;
  animation: displayVictory 2s ease-out;
}

@keyframes displayVictory {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.defeat-container {
  animation: defeat 2.5s ease-out;
  background-color: rgb(0, 0, 0);
}

@keyframes defeat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill-icon {
  height: 42px;
  width: 42px;
  margin: 3px;
  background-color: white;
  float: left;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(255, 210, 0),
    rgb(255, 227, 149)
  );
}

.icon-battle {
  height: 43px;
  width: 43px;
  margin: 4px;
}

.attack-animation {
  width: 192px;
  height: 192px;
  position: absolute;
  background-size: cover;
  cursor: url(./assets/images/cursor-gladius.png), auto;
  z-index: 1;
}

.skill-animation {
  width: 384px;
  height: 384px;
  position: absolute;
  background-size: cover;
  cursor: url(./assets/images/cursor-gladius.png), auto;
  z-index: 1;
}

.net-animation {
  width: 512px;
  height: 512px;
  bottom: 30px;
  position: absolute;
  background-size: cover;
  cursor: url(./assets/images/cursor-gladius.png), auto;
  z-index: 1;
}

.opponent-animation {
  width: 768px;
  height: 330px;
  bottom: 0;
  position: absolute;
  background-size: cover;
  cursor: url(./assets/images/cursor-gladius.png), auto;
  z-index: 5;
}

.overflow {
  overflow: auto;
  max-height: 100%;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: rgb(63, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: inset 0 0 5px #000000;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: wheat;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: inset 0 0 6px #000000;
  border-radius: 8px;
}

.small-margin {
  margin-top: 15px;
}

.block-area {
  height: 100px;
  width: 320px;
  bottom: 45px;
  position: absolute;
  z-index: 6;
}

.tap-to-block {
  height: 64px;
  width: 64px;
  opacity: 0.8;
  position: absolute;
  cursor: url(./assets/images/cursor-shield.png), auto;
  z-index: 15;
}

.dmg-num-top {
  height: 40px;
  width: 50px;
  top: 18%;
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  position: absolute;
}

.hurt-num {
  height: 40px;
  width: 70px;
  bottom: 12%;
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  position: absolute;
  z-index: 5;
}

.disable-message {
  height: 40px;
  width: 200px;
  top: 18%;
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  position: absolute;
}

.dmg-num-bottom {
  height: 60px;
  width: 50%;
  bottom: 15%;
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  color: red;
  z-index: 4;
}

.floating-dmg-number {
  height: 50px;
  width: 50px;
  position: absolute;
}

.hit-number {
  left: 4;
  bottom: 0;
  font-size: 5px;
  color: white;
  position: absolute;
  animation: dmgNumbers 1.5s ease-out;
}

.crit-number {
  left: 0;
  bottom: 0;
  font-size: 35px;
  color: rgb(255, 210, 0);
  position: absolute;
  animation: critNumbers 1.5s ease-out;
}

.skill-number {
  left: 0;
  bottom: 0;
  font-size: 5px;
  color: rgb(255, 241, 0);
  position: absolute;
  animation: critNumbers 1.5s ease-out;
}

.poison-number {
  font-size: 5px;
  color: greenyellow;
  margin-right: 20px;
  position: absolute;
  animation: dotNumbers 1.5s ease-out;
}

.bleed-number {
  right: 0;
  top: 0;
  font-size: 5px;
  color: red;
  position: absolute;
  animation: dotNumbers 1.5s ease-out;
}

.heal-number {
  right: 0;
  top: 0;
  font-size: 30px;
  color: rgb(50, 167, 112);
  position: absolute;
  animation: critNumbers 1.5s ease-out;
}

.hurt-number {
  left: 0;
  top: 0;
  font-size: 20px;
  color: rgb(202, 0, 0);
  position: absolute;
  animation: dmgNumbers 1.5s ease-out;
}

.hurt-miss {
  left: 0;
  top: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  animation: hurtNumbers 1.5s ease-out;
}

.hurt-block-number {
  right: 0;
  top: 0;
  font-size: 20px;
  color: rgb(230, 228, 137);
  position: absolute;
  animation: hurtNumbers 1.5s ease-out;
}

.hurt-crit-number {
  left: 0;
  top: 0;
  font-size: 35px;
  color: rgb(167, 34, 1);
  position: absolute;
  animation: deathNumbers 1.5s ease-out;
}

.hurt-skill-number {
  left: 0;
  bottom: 0;
  font-size: 5px;
  color: rgb(85, 17, 0);
  position: absolute;
  animation: deathNumbers 1.5s ease-out;
}

.fade-to-fight {
  animation: fadeOut 1s ease-out;
  animation-fill-mode: forwards;
}

.staging-bg-fade {
  animation: fadeStagingBG 2s ease-out;
  animation-fill-mode: forwards;
}

#navArena {
  display: none;
}

@keyframes fadeStagingBG {
  0% {
  }
  50% {
    background-image: url(./assets/images/staging-bg2.jpg);
  }
  100% {
    background-image: url(./assets/images/staging-bg3.jpg);
  }
}

@keyframes fadeOut {
  0% {
  }
  100% {
    opacity: 0;
  }
}

@keyframes dmgNumbers {
  0% {
  }
  5% {
    font-size: 40px;
  }
  50% {
    opacity: 1;
  }
  100% {
    font-size: 50px;
    margin: 0.4em;
    bottom: 80%;
    opacity: 0;
  }
}

@keyframes deathNumbers {
  0% {
    top: 3%;
  }
  5% {
    font-size: 70px;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 8%;
    font-size: 80px;
    opacity: 0;
  }
}

@keyframes critNumbers {
  0% {
  }
  5% {
    font-size: 45px;
  }
  50% {
    opacity: 1;
  }
  100% {
    font-size: 65px;
    bottom: 50%;
    opacity: 0;
  }
}

@keyframes hurtNumbers {
  0% {
  }
  2% {
    font-size: 30px;
  }
  50% {
    opacity: 1;
  }
  100% {
    font-size: 45px;
    margin: -0.5em;
    opacity: 0;
  }
}

@keyframes dotNumbers {
  0% {
  }
  2% {
    font-size: 30px;
  }
  50% {
    opacity: 1;
  }
  100% {
    font-size: 40px;
    margin: -0.7em;
    opacity: 0;
  }
}

.dropbtn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 16px;
  font-size: 18px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 200px;
  bottom: 50px;
  z-index: 7;
  right: 0;
}

.dropup-content div {
  color: black;
  padding: 5px;
  text-decoration: none;
  border: 1px solid black;
  display: block;
}

.dropup-content div:hover {
  background-color: rgb(22, 22, 22);
  cursor: pointer;
}

.weapons-container {
  bottom: 0;
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

/* ACTIVE BUFF EFFECTS */

.heal {
  animation: heal 1s ease-out;
}

@keyframes heal {
  0% {
  }
  70% {
    filter: hue-rotate(40deg) drop-shadow(0px 0px 10px rgb(0, 217, 255));
  }
  100% {
    filter: hue-rotate(0deg) drop-shadow(0px 0px 0px rgb(84, 229, 255));
  }
}

.opponent-skill-active {
  /* filter: contrast(150%) drop-shadow(0px 0px 13px rgb(0, 0, 0)); */
  animation: opponentSkillAnim 1.2s ease-out;
  animation-fill-mode: forwards;
}

.opponent-skill-attack {
  animation: oppSkillAttack 0.5s ease-out;
}

@keyframes opponentSkillAnim {
  0% {
  }
  100% {
    filter: grayscale(75%) contrast(220%) drop-shadow(0px 0px 13px rgb(0, 0, 0));
  }
}

@keyframes oppSkillAttack {
  0% {
  }
  25% {
    filter: contrast(100%) drop-shadow(0px 0px 1px rgb(95, 0, 0));
  }
  25% {
    filter: contrast(400%) drop-shadow(0px 0px 20px rgb(187, 0, 0));
  }
  100% {
    filter: contrast(100%) drop-shadow(0px 0px 0px rgb(255, 0, 0));
  }
}

.riposte-active {
  filter: contrast(200%);
}

.rage-active {
  filter: saturate(1.9) drop-shadow(0px 0px 6px rgb(255, 0, 0));
}

.poisonTrident-active {
  filter: contrast(130%) drop-shadow(0px 0px 6px rgb(0, 255, 64));
}

.champion-active {
  filter: contrast(130%) saturate(3) drop-shadow(0px 0px 20px rgb(255, 187, 0));
}

/* SKILL BUFF ANIMATIONS */
.riposte {
  animation: riposteEffect 1s ease-out;
}

.rage {
  animation: rageEffect 1s ease-out;
}

.poisonTrident {
  animation: ptridentEffect 1s ease-out;
}

.champion {
  animation: championEffect 1s ease-out;
}

@keyframes riposteEffect {
  0% {
  }
  25% {
    filter: contrast(400%);
  }
  50% {
    filter: contrast(100%);
  }
  75% {
    filter: contrast(400%);
  }
  100% {
    filter: contrast(200%);
  }
}

@keyframes rageEffect {
  0% {
  }
  25% {
    filter: saturate(1.9) drop-shadow(0px 0px 13px rgb(255, 0, 0));
  }
  50% {
    filter: saturate(2.4) drop-shadow(0px 0px 1px rgb(255, 0, 0));
  }
  75% {
    filter: saturate(2.7) drop-shadow(0px 0px 15px rgb(255, 0, 0));
  }
  100% {
    filter: saturate(2.9) drop-shadow(0px 0px 6px rgb(255, 0, 0));
  }
}

@keyframes ptridentEffect {
  0% {
  }
  50% {
    filter: contrast(300%) drop-shadow(0px 0px 12px rgb(0, 255, 64));
  }
  100% {
    filter: contrast(130%) drop-shadow(0px 0px 6px rgb(0, 255, 64));
  }
}

@keyframes championEffect {
  0% {
  }
  25% {
    filter: contrast(150%) saturate(4) drop-shadow(5px 0px 5px rgb(255, 187, 0));
  }
  50% {
    filter: contrast(200%) saturate(1)
      drop-shadow(0px 0px 18px rgb(255, 187, 0));
  }
  75% {
    filter: contrast(250%) saturate(4)
      drop-shadow(0px 0px 25px rgb(255, 187, 0));
  }
  100% {
    filter: contrast(150%) saturate(3)
      drop-shadow(0px 0px 15px rgb(255, 187, 0));
  }
}

/* Opponent animations */

.opp-attack-anim {
  animation: oppAttack 0.52s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.dodge-anim {
  animation: dodge 0.52s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.opp-hurt-anim {
  animation: oppHurt 0.52s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.fade-out {
  animation: fade 1.5s ease-out;
}

@keyframes fade {
  0% {
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes oppHurt {
  25% {
    transform: translate3d(1.5px, 0, 0);
    filter: saturate(1.5);
  }
  100% {
    transform: translate3d(0, 0, 0);
    filter: saturate(1);
  }
}

@keyframes dodge {
  25% {
    transform: translate3d(-7px, 0, 0);
  }
  75% {
    transform: translate3d(-7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes oppAttack {
  15%,
  85% {
    transform: translate3d(-3px, -1px, 0);
  }

  30%,
  60% {
    transform: translate3d(1.5px, 12px, 0);
  }
}

.main-menu {
  color: white;
}
/* MOBILE DISPLAY */

@media only screen and (max-width: 800px) {

  .opponent-container {
    margin-top: 0px;
  }

  .hurt-num {
    bottom: 15%;
  }

  .message-text {
    font-size: 15px;
  }

  p {
    font-size: 11px;
  }

  .warning-text {
    font-size: 25px;
    color: rgb(189, 0, 0);
  }

  .opponent {
    
  }

  .weapons-container {
    bottom: 4%;
  }

  .oppname-text {
    font-size: 25px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
      2px 2px 0 #000;
    filter: drop-shadow(0px 0px 4px rgb(0, 0, 0));
  }

  .block-area {
    height: 90px;
    width: 80%;
    bottom: 13%;
    position: absolute;
    z-index: 6;
  }

  .staging-bg {
    background-image: url(./assets/images/staging-bg-mobile.jpg);
    background-size: 100% 100%;
    height: 100%;
  }

  .staging-bg-fade {
    animation: fadeStagingBG 2s ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes fadeStagingBG {
    0% {
    }
    50% {
      background-image: url(./assets/images/staging-bg2-mobile.jpg);
    }
    100% {
      background-image: url(./assets/images/staging-bg3-mobile.jpg);
    }
  }

  .arena-bg {
    background-image: url(./assets/images/arena-bg-mobile.png);
    background-size: 100% 100%;
  }

  .chat-bubble {
    top: 10%;
    left: 10%;
  }

  .bottomleft h2 {
    font-size: 14px;
  }
  .skill-icon {
    height: 35px;
    width: 35px;
    margin: 3px;
    background-color: white;
    float: left;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      rgb(255, 210, 0),
      rgb(255, 227, 149)
    );
  }
  .char-select0 {
    height: 250px;
    width: 150px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 30%;
    filter: grayscale(80%);
  }
  .char-select1 {
    height: 250px;
    width: 150px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 30%;
    filter: grayscale(80%);
  }
  .char-select2 {
    height: 250px;
    width: 150px;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 30%;
    filter: grayscale(80%);
  }
  .char-select0:focus,
  .char-select1:focus,
  .char-select2:focus {
    height: 400px;
    width: 240px;
    top: 30%;
    filter: saturate(1.1) drop-shadow(0px 0px 8px rgb(255, 196, 2))
      grayscale(0%);
    outline: transparent;
    z-index: 2;
  }

  .char-select-button {
    position: absolute;
    bottom: 30px;
  }
  .char-select-title {
    position: absolute;
    top: 20px;
  }

  .char-description {
    max-width: 95%;
    max-height: 20%;
    width: 600px;
    height: 100px;
    padding: 10px 5px 10px 5px;
    font-size: 13px;
    text-align: center;
    position: absolute;
    top: 5%;
  }

  .tooltip-skills {
    max-width: 30%;
    width: 180px;
    padding: 10px 5px 10px 5px;
    font-size: 13px;
    text-align: center;
  }
  .left-mobile {
    position: absolute;
    left: 5%;
    bottom: 0;
  }
}
